!!!
%html
	%head
		%title My Blogs
		%link{type: "text/css", rel: "stylesheet", href: "http://yui.yahooapis.com/pure/0.6.0/pure-min.css"}
		%link{type: "text/css", rel: "stylesheet", href: "http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"}
		%link{type: "text/css", rel: "stylesheet", href: "/css/main.css"}
	%body
		#layout
			.sidebar.pure-u-1.pure-u-md-1-4
				.header
					%a{href: "/"} 
						%h1{class: "brand-title"} Ivan's Blog
					
			.content.pure-u-1.pure-u-md-3-4= yield

			%footer &copy; 2015 Ivan